# Build directory
build/
*.o
*.a
*.so
*.dll
*.exe
*.out

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Executable
calendar_converter

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
bealat.cpp
binary_file_processing.cpp
binary_file_processiong.cpp
both.cpp
.gitignore
calendar
calendar_demo
calendar_demo.cpp
calendar.cpp
calendar2.groovy
classwork
classwork.cpp
create-rename.cpp
example.txt
writing.cpp
text_file_processing.cpp
reading.cpp
report.txt
read_the_first_line.cpp
.gitignore
random_access_files.cpp
practice.cpp
file_operations.cpp
notes.txt
practice
holidays_report.txt
file.txt
calendar2
DAILY NUTRITION & CALORIE TRACKER/auth.cpp
DAILY NUTRITION & CALORIE TRACKER/auth.h
DAILY NUTRITION & CALORIE TRACKER/food.h
DAILY NUTRITION & CALORIE TRACKER/foods.txt
DAILY NUTRITION & CALORIE TRACKER/main.cpp
DAILY NUTRITION & CALORIE TRACKER/food.cpp
DAILY NUTRITION & CALORIE TRACKER/models.h
DAILY NUTRITION & CALORIE TRACKER/recommendations.cpp
DAILY NUTRITION & CALORIE TRACKER/recommendations.h
DAILY NUTRITION & CALORIE TRACKER/user_dayanf_data.txt
DAILY NUTRITION & CALORIE TRACKER/users.txt
DAILY NUTRITION & CALORIE TRACKER/profile.h
DAILY NUTRITION & CALORIE TRACKER/utils.h
DAILY NUTRITION & CALORIE TRACKER/utils.cpp
DAILY NUTRITION & CALORIE TRACKER/profile.cpp
practice_dir/palindrome.py
finding_largest.cpp
calendar_v.1.2.cpp
